@import url("https://fonts.googleapis.com/css?family=Pacifico");

body {
  /*background-color: #f0f0f0;*/
}
/* h4, h5 {s */
/*   font-family: 'Pacifico', cursive; */
/* } */

html{
	font-family: "Roboto", sans-serif !important;
}

h5 {
  /*color : #40a8a7;*/
/*   color : #FF9900; */
}

nav .nav-wrapper form, nav .nav-wrapper form .input-field{
height: 100%;
}

.card-info-custom {
	
	font-size: 16px;
	 display: inline-flex;
    vertical-align: middle;
    	line-height: 4;
}

.card-info, .card__meta a {
    
    display: inline-flex;
    vertical-align: middle;
    line-height: 3;
    font-size: 14px;
}
.card__meta i.small {
    font-size: 1.5rem;
}
.card .card-content .card-title {
    line-height: 34px;
}
.card__date {
    
    position: absolute;
    top: 0px;
    right: 0px;
    width: 36px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 13px;
    font-weight: bold;
    
}
.card__date__day {
  display: block;
  font-size: 14px;
}
.card__date__month {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}

.card .card-content .card-title {
    
    line-height: 10px;
}

.card .card-title {
    
    font-size: 18px !important;
    font-weight: bold;
}

.card .card-content p{
  color: #1E1E1E;
  font-size: 13px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}

.card {
    /*display: inline-block;*/
  }

.collapsible{
  background: #fff;
}

.card-row {
  margin-bottom: 4px;
    margin-top: 4px;
}
.card-action i {
    vertical-align: text-bottom;
    font-size: 21px;
}



.collapsible-header {
    background-color: #77943E !important;
    color: #fff;
}

.filter-container ul {
    padding: 0rem 2rem;
}

.filter-container ul li {
    display: block;
    padding: 20px 0 0;
}

.search-title-filter {
  background-color: white !important;
  color: unalabText;
}

nav  {
    background-color: #40a8a7;
    border-color: #E7E7E7;
    
}

nav ul>li>a, nav .brand-logo  {
  color: #fff;
}

nav .brand-logo {
  font-size: 1.4em;
}

#container {
  padding: 20px 10px;
}

[type="checkbox"] + label::before, [type="checkbox"]:not(.filled-in) + label::after {
    right: 0;
}

[type="checkbox"] + label {
    /*padding-right: 26px;*/
    line-height: 16px !important;
}

[type="checkbox"]:checked + label::before {
    right: 8px;
    left: 0;
    
}
.filled-in[type="checkbox"]:checked + label::before {
    right: 9px;
    left: unset;
    
}
.filled-in[type="checkbox"]:checked + label::after {
	background-color: #77943E !important;
	border:2px solid #77943E !important;
}
.filled-in[type="checkbox"] + label::before, .filled-in[type="checkbox"] + label::after {
    right: -1px;
    
    
    
}
.filled-in[type="checkbox"]:not(:checked) + label::before {
    right: 10px;
    
}
[type="radio"]:not(:checked) + label {
    padding-right: 26px;
}
[type="radio"]:checked + label {
    padding-right: 26px;
}
[type="radio"] + label::before, [type="radio"] + label::after {
    right: 0;left:unset;
}
label::before, [type="radio"] + label::after {
    right: 0;left:unset;
}

.customW{
  color: white;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(119, 148, 62, 1) 73%, rgba(11, 31, 38, 1) 100%) !important;
}

