#intro {
  background: url("../img/siPer.jpg") no-repeat center center;
  
}

.top-nav-collapse {
  background:  linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(119, 148, 62, 1) 73%, rgba(11, 31, 38, 1) 100%) !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
  height: 60px;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #3949ab !important;
  }
}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
}

.hm-gradient .full-bg-img {
  background: rgba(42, 27, 161, 0.7);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(119, 148, 62, 0.8) 73%, rgba(11, 31, 38, 0.8) 100%) !important;
}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

#pricing .lead {
  opacity: 0.7;
}

#pricing .card-image {
  background: url("../img/architecture.jpg") no-repeat center center;
}

#pricing ul li {
  font-size: 1.1em;
}

.img-logo{
	max-width: 45%;
    margin-top: -10px;
}

.navCont {
	margin-left: 0px;
	padding-top: 8px;
	max-width: 100%;
}
html {
	font-family: 'Muli', sans-serif !important;
    font-weight: normal;
}

.navSpan {
	
	
	color: white;
	font-family: 'Muli', sans-serif !important;
	
	
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 34px;
    font-size: 2.0em;
    margin: 0px;
    padding: 5px 0px;
    
}

.blackText {
	
	color: black !important;
	margin-left: -105px !important;
}

.myImg {
	    width: 23%;
    padding-top: 2px;
}

.myGreen {
	background-color: rgba(119, 148, 62, 0.2);
	color: black !important;
}

.customHeight {
	height: 220px;
}

.opacity {
	opacity: 0.4;
}

.footer-copyright{
	background-color: black !important;
}

footer
{
    padding-left: 0;
}
footer.page-footer
{
    padding-top: 0px;
    font-size: 12px;
}
footer .footer-section {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
footer .footer-section a {
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
	line-height: 13px;
}
footer .footer-section .footer-logo{
	max-height: 32px;
}


.cityDesc {
	width: 50%;
	margin-left: 25%;
}

#submit{
	background-color: #859F51;
}

.myHeader{
	height: 60% !important;
}

.text_center {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 34px;
    font-size: 1.4em;
    color: red;
    background-color: white;
    margin: 0px;
    padding: 5px 0px;
    text-transform: uppercase;

}
.mySize{

  width: 30% !important;
}